{% extends 'base.html' %}

{% block title %}Edit {{tag.names}} {% endblock %}

{% block body_content%}

<h2 class="text-center">Edit Tag: {{tag.name}}</h2>

<div class="container">
    <form action="/tags/{{tag.id}}/edit" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input id="name" type="text" class="form-control" name="name" value="{{tag.name}}">
        </div>

        <div class="mb-3">
            <p>Add to Post:</p>
            {% for post in posts%}
                {% if tag in posts.tags%}
                    <div>
                        <input id="{{post.id}}" name="posts" type="checkbox" value="{{post.title}}">
                        <label for="posts" class="form-label" checked>{{post.title}}</label>
                    </div>
                {% else %}
                    <div>
                        <input id="{{post.id}}" name="posts" type="checkbox" value="{{post.title}}">
                        <label for="posts" class="form-label">{{post.title}}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="mb-3">
            <a id="cancel-edit-tag" class="btn btn-info" href="/tags/{{tag.id}}" role="button">Cancel</a>
            <button class="btn btn-success" id="submit-edit-tag" type="Submit">Save!</button>
        </div>
    </form>
</div>

{% endblock %}
