{% extends 'base.html' %}

{% block title %}Add New Tag{% endblock %}

{% block body_content%}

<h2 class="text-center">Create a Tag</h2>

<div class="container">
    <form action="/tags/new" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input id="name" type="text" class="form-control" name="name" placeholder="Enter a name for the tag">
        </div>

        <div class="mb-3">
            <p>Add to Post:</p>
            {% for post in posts%}
                <div>
                    <input id="{{post.id}}" name="posts" type="checkbox" value="{{post.title}}">
                    <label for="posts" class="form-label">{{post.title}}</label>
                </div>
            {% endfor %}
        </div>


        <div class="mb-3">
            <button class="btn btn-outline-primary" id="cancel-new-tag">Cancel</button>
            <button class="btn btn-success" id="submit-new-tag" type="Submit">Save</button>
        </div>
    </form>
</div>

{% endblock %}
